*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100vw;
    background-color: #0c0d0e;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100%;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.coding {
    padding: 2vw;
    margin: 0 auto;
    position: sticky;
    background-color: #0c0d0e; 
    color: whitesmoke;
    border-radius: 8%;
    font-family: 'Segoe UI', sans-serif;
    border: 1px none;
    font-weight: bolder;
    font-size: 16px;
}

.streaming {
    padding: 2vw;
    margin: 0 auto;
    position: sticky;
    background-color: #0c0d0e; 
    color: whitesmoke;
    border-radius: 8%;
    font-family: 'Segoe UI', sans-serif;
    border: 1px none;
    font-weight: bolder;
    font-size: 16px;
}

.music {
    padding: 2vw;
    margin: 0 auto;
    position: sticky;
    background-color: #0c0d0e; 
    color: whitesmoke;
    border-radius: 8%;
    font-family: 'Segoe UI', sans-serif;
    border: 1px none;
    font-weight: bolder;
    font-size: 16px;
}

.socials {
    padding: 2vw;
    margin: 0 auto;
    position: sticky;
    background-color: #0c0d0e; 
    color: whitesmoke;
    border-radius: 8%;
    font-family: 'Segoe UI', sans-serif;
    border: 1px none;
    font-weight: bolder;
    font-size: 16px;
}

.pictures {
    padding: 2vw;
    margin: 0 auto;
    position: sticky;
    background-color: #0c0d0e; 
    color: whitesmoke;
    border-radius: 8%;
    font-family: 'Segoe UI', sans-serif;
    border: 1px none;
    font-weight: bolder;
    font-size: 16px;
}

.picture-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.timeline {
    text-align: center;
    color: whitesmoke;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(3, 3, 27);
    padding: 10px 20px;
}

.picture-grid img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

.pictures:hover {
    background-color: rgb(228, 137, 19);
    color: #050801;
    box-shadow: 0 0 5px rgb(228, 137, 19),
                0 0 25px rgb(228, 137, 19),
                0 0 50px rgb(228, 137, 19);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.coding:hover {
    background-color: aqua;
    color: #050801;
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.streaming:hover {
    background-color: darkorchid;
    color: #050801;
    box-shadow: 0 0 5px darkorchid,
                0 0 25px darkorchid,
                0 0 50px darkorchid;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.music:hover {
    background-color: rgb(43, 43, 182);
    color: #050801;
    box-shadow: 0 0 5px rgb(43, 43, 182),
                0 0 25px rgb(43, 43, 182),
                0 0 50px rgb(43, 43, 182);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.socials:hover {
    background-color: rgb(72, 0, 205);
    color: #050801;
    box-shadow: 0 0 5px rgb(72, 0, 205),
                0 0 25px rgb(72, 0, 205),
                0 0 50px rgb(72, 0, 205);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.main {
    display: flex;
    justify-content: center;
}

.bio-text {
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 17px;
    letter-spacing: 0.9px;
    
}

.bio-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(3, 3, 27);
    padding: 0 90px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px auto;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(3, 3, 27);
    padding: 10px 20px;
}

.logo {
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    width: 50vw;
    height: 100%;
}

.github:hover {
    background-color: midnightblue;
}

.stream {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 14px solid midnightblue;
    border-top: 14px solid midnightblue;
}

.bands {
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.band-pics {
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.band-link:hover {
    background-color: rgb(0, 97, 97);
}

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(3, 3, 27);
    padding: 14px 40px;
    margin: 14px auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h2:hover {
    background-color: blueviolet;
    border: 1px solid whitesmoke;
    color: #050801;
    opacity: 80%;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #fd6cea,
                0 0 50px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    
}

.links-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #050801;
    opacity: 80%;
    box-shadow: 0 0 5px #03e9f4;
    
}

.footer{
    background-color: #0c0d0e;
    padding-right: 120px;
    display: flex;
    justify-content: center;
    padding: 1vh;
}

.contact {
    margin-left: 36px;
    color: whitesmoke;
    background-color: rgb(3, 3, 27);
    border-radius: 8%;
    font-family:'Times New Roman', Times, serif;
    border: 1px none;
    font-weight: bolder;
    font-size: 16px;
}

.contact:hover {
    background-color: #03e9f4;
    color: #050801;
    opacity: 80%;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #fd6cea;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


.neon {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 12rem;
    font-weight: bold;
    transition: 0.5s;
    margin-right: 70px;
}

.logo:hover {
    background-color: #03e9f4;
    color: #050801;
    opacity: 80%;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #fd6cea,
                0 0 50px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    
}
